button {
    cursor: pointer;
}

.block-button-login {
    display: grid;
    place-items: center;
}

.button-login-page {
    display: flex;
    gap: 15px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.footer p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    font-size: 0.9em;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    opacity: 0.6;
}