@media (min-width: 640px) {
    .section-sticky-header {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 639px) {
    .section-sticky-header {
        display: none;
    }
}

.section-sticky-header .sticky-header {
    position: fixed;
    opacity: 0.85;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.section-sticky-header .sticky-header .leveling {
    text-decoration: none;
    display: flex;
    flex: 1;
}

.section-sticky-header .sticky-header button {
    background-color: #f4ff00;
    border-radius: 5px;
    padding: 10px 15px;
    flex: 1;
    color: #000000;
    transition: background-color 0.3s;
    border: none;
    font-size: 0.9em;
}

.section-sticky-header .sticky-header button:hover {
    background-color: #9ca211;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

@media (min-width: 800px) {
    .section-main {
        padding: 100px 0 50px 0;
    }
}

@media (max-width: 799px) {
    .section-main {
        flex-direction: column;
        padding: 50px 0;
    }
}

.section-main {
    background: linear-gradient(to bottom, #689afb, #f5e5b4);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center
}


.section-main .content-text {

}

.section-main .content-image {
    text-align: left;
}













@media (min-width: 1200px) {
    .section-main .text {
        text-align: left;
        padding-left: 180px;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .section-main .text {
        text-align: left;
        padding-left: 50px;
    }
}

@media (max-width: 799px) {
    .section-main .text {
        text-align: center;
        place-items: center;
    }
}






.section-main .text {
    flex: 1;
}

.section-main h1 {
    margin: 0 auto;
    font-size: 2.3em;
    font-weight: bold;
}

@media (min-width: 640px) {
    .section-main h2 {
        text-align: left;
    }
}

@media (max-width: 639px) {
    .section-main h2 {
        text-align: center;
    }
}

.section-main h2 {
    font-weight: normal;
    width: 90%;
    font-size: 1.5em;
}





@media (min-width: 1400px) {
    .section-main .image {
        padding-right: 200px;
        width: 500px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .section-main .image {
        padding-right: 100px;
        width: 300px;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .section-main .image {
        padding-right: 50px;
        width: 300px;
    }
}

@media (max-width: 799px) {
    .section-main .image {
        width: 300px;
    }
}





.section-main .image {
    height: auto;
}

@media (min-width: 640px) {
    .section-main .block-demoentryregistration {
        display: none;
    }
}

@media (max-width: 639px) {
    .section-main .block-demoentryregistration {
        display: flex;
        z-index: 1000;
        justify-content: center;
        padding: 10px;
    }
}

.section-main .block-demoentryregistration .demoentryregistration {
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.section-main .block-demoentryregistration .demoentryregistration button {
    background-color: #efbb51;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    flex: 1;
    border: 1px solid black;
    color: #000000;
    transition: background-color 0.3s;
    font-size: 0.85em;
}

.section-main .block-demoentryregistration .demoentryregistration a {
    text-decoration: none;
    display: flex;
    flex: 1;
}

.section-about-research {
    color: #fff;
    background-color: #793785;
}

.section-about-research h2 {
    font-size: 2em;
    font-weight: bold;
    color: #ffcc00;
}

.section-about-research .article {
    margin: 0 auto;
    font-size: 1.6em;
    place-items: center;
}

@media (min-width: 640px) {
    .section-about-research .article .paragraph {
        height: 250px;
    }
}

@media (max-width: 639px) {
    .section-about-research .article .paragraph {
        flex-direction: column;
    }
}

.section-about-research .article .paragraph {
    display: flex;
    align-items: center;
    gap: 20px;

}

@media (min-width: 640px) {
    .section-about-research .article .text {
        text-align: left;
    }
}

@media (max-width: 639px) {
    .section-about-research .article .text {
        text-align: center;
        padding-bottom: 50px;
    }
}

.section-about-research .article .text {
    flex: 1;
    max-width: 800px;

}

.section-about-research .article .paragraph .image {
    width: 220px;
}

.section-peculiarities {
    background-color: #dcdcdc;
}


@media (min-width: 640px) {
    .section-peculiarities .article {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .section-peculiarities .article {

    }
}

.section-peculiarities .article {
    margin: 0 auto;
    text-align: left;

}

.section-peculiarities .article .list-item img {
    vertical-align: middle;
    width: 70px;
}

.section-peculiarities .article .list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
    display: inline-block;
    vertical-align: middle;
}

.section-about-process {
    background-color: #793785;
    color: #fff;
    display: grid;
    place-items: center;
}

@media (min-width: 640px) {
    .section-about-process .image {
        width: 600px;
    }
}

@media (max-width: 639px) {
    .section-about-process .image {
        width: 300px;
    }
}

.section-about-process .image {
    margin-top: -30px;
}

@media (min-width: 640px) {
    .section-about-process .article {
        width: 70%;
    }
}

@media (max-width: 639px) {
    .section-about-process .article {
    }
}

.section-about-process .article {
    margin-top: -30px;
    font-size: 1.6em;
}

.section-registration {
    background-color: #e1e1e1;
}

.section-registration .text {
    font-size: 1.6em;
    padding-bottom: 50px;
}