h2 {
    font-size: 2em;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #333;

    padding: 0;
    font-size: 1em;
    margin: -60px;
}

@media (min-width: 640px) {
    .sticky-header {
        position: sticky;
        display: flex;
        top: 0;
        z-index: 1000;
        justify-content: center;
        padding: 10px;
    }
}

@media (max-width: 639px) {
    .sticky-header {
        display: none;
    }
}

@media (min-width: 640px) {
    .sticky-header2 {
        display: none;
    }
}

@media (max-width: 639px) {
    .sticky-header2 {
        display: flex;
        z-index: 1000;
        justify-content: center;
        padding: 10px;

    }
}

@media (min-width: 640px) {
    .sticky-header-buttons {
        opacity: 0.85;
    }
}

@media (max-width: 639px) {
    .sticky-header-buttons {
        flex-wrap: wrap;
    }
}

.sticky-header-buttons {
    display: flex;
    gap: 10px; /* Отступы между кнопками */
    width: 100%;
    max-width: 800px; /* Опционально: ограничить максимальную ширину */
}

.sticky-header-buttons button {
    flex: 1; /* Автоматически делает кнопки одинаковой ширины */
    padding: 10px 15px; /* Отступы внутри кнопок */
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ff3d00; /* Цвет фона кнопок */
    color: #000000;
    transition: background-color 0.3s;
}

.sticky-header-buttons button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.sticky-header-buttons a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    display: flex; /* Чтобы кнопки правильно выровнялись */
    flex: 1; /* Заставляем ссылки занимать всю ширину кнопки */
}







.section {
    padding: 50px 20px;
    text-align: center;
}


@media (min-width: 640px) {
    .section-main {
        padding: 100px 0 50px 0;
    }
}

@media (max-width: 639px) {
    .section-main {
        flex-direction: column;
        padding: 50px 0;
    }
}

.section-main {
    background: linear-gradient(to bottom, #689afb, #f5e5b4);

    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center
}






.section-main .content-text {
    text-align: right;
}

.section-main .content-image {
    text-align: left;
}

@media (min-width: 640px) {
    .section-main .text {
        text-align: left;
        padding-left: 180px;
    }
}

@media (max-width: 639px) {
    .section-main .text {
        text-align: center;
        place-items: center;
    }
}

.section-main .text {
    flex: 1;
}

.section-main h1 {
    margin: 0 auto;
    font-size: 2.3em;
    font-weight: bold;
}

@media (min-width: 640px) {
    .section-main h2 {
        text-align: left;
    }
}

@media (max-width: 639px) {
    .section-main h2 {
        text-align: center;
    }
}

.section-main h2 {
    font-weight: normal;
    width: 90%;
    font-size: 1.5em;
}

@media (min-width: 640px) {
    .section-main .image {
        padding-right: 200px;
        width: 500px;
    }
}

@media (max-width: 639px) {
    .section-main .image {
        width: 300px;
    }
}

.section-main .image {
    height: auto;
}










.section-about-research {
    color: #fff;
    background-color: #793785;
}

.section-about-research h2 {
    font-size: 2em;
    font-weight: bold;
    color: #ffcc00;
}

.section-about-research .article {
    margin: 0 auto;
    font-size: 1.6em;
    place-items: center;
}



@media (min-width: 640px) {
    .section-about-research .article .paragraph {
        height: 250px;
    }
}

@media (max-width: 639px) {
    .section-about-research .article .paragraph {
        flex-direction: column;
    }
}



.section-about-research .article .paragraph {
    display: flex;
    align-items: center;
    gap: 20px;

}



@media (min-width: 640px) {
    .section-about-research .article .text {
        text-align: left;
    }
}

@media (max-width: 639px) {
    .section-about-research .article .text {
        text-align: center;
        padding-bottom: 50px;
    }
}




.section-about-research .article .text {
    flex: 1;
    max-width: 800px;

}

.section-about-research .article .paragraph .image {
    width: 220px;
}

.section-peculiarities {
    background-color: #dcdcdc;
}








@media (min-width: 640px) {
    .section-peculiarities .article {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .section-peculiarities .article {

    }
}






.section-peculiarities .article {
    margin: 0 auto;
    text-align: left;

}

.section-peculiarities .article .list-item img {
    vertical-align: middle;
    width: 70px;
}

.section-peculiarities .article .list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
    display: inline-block;
    vertical-align: middle;
}

.section-about-process {
    background-color: #793785;
    color: #fff;
    display: grid;
    place-items: center;
}




@media (min-width: 640px) {
    .section-about-process .image {
        width: 600px;
    }
}

@media (max-width: 639px) {
    .section-about-process .image {
        width: 300px;
    }
}




.section-about-process .image {
    margin-top: -30px;

}









@media (min-width: 640px) {
    .section-about-process .article {
        width: 70%;
    }
}

@media (max-width: 639px) {
    .section-about-process .article {

    }
}






.section-about-process .article {
    margin-top: -30px;

    font-size: 1.6em;
}

.section-registration {
    background-color: #e1e1e1;
}

.section-registration .text {
    font-size: 1.6em;
    padding-bottom: 50px;
}

.form-container {
    text-align: left;
    background-color: #a63ab2;
    color: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

#captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-text-error {
    color: #f4ff00;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    padding-bottom: 20px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #efbb51;
    border: none;
    border-radius: 25px;
    color: #333;
    font-weight: bold;
    width: 200px;
}

.form-container button:hover {
    background-color: #793785;
    color: #fff;
}