<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire - учим английский легко</title>
</head>
<body>
<h1>Словарный архив</h1>

<div>
    <button onclick="location.href='/setting'">Вернуть в настройки изучения слов</button>
</div>

<div>
    <p></p>
</div>

<table>
    {{range .}}
    <tr>
        <td>{{.Word}}</td>
        <td>
            <form action="/remove_from_archive/{{.ID}}" method="post" style="display:inline;">
                <button type="submit">Восстановить с архива</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>

</body>
</html>