{{ template "header.html" . }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
            checkbox.addEventListener('change', function (event) {
                const wordId = event.target.name;
                const label = event.target.checked ? 2 : 1;

                fetch(`/archive`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: `id=${wordId}&label=${label}`
                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Не удалось обновить метку слова:', response.statusText);
                        }
                        location.reload();
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });

        document.querySelectorAll('[data-archive]').forEach((link) => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const wordId = this.getAttribute('data-archive');

                fetch(`/remove_from_archive`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: `archive_word_id=${wordId}`
                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Не удалось архивировать слово:', response.statusText);
                        }
                        location.reload();
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });
    });
</script>

<body>
<div class="content">
    <div class="settings-container">
        <div class="container-height">
            <table>
                {{range $index, $word := .Words}}
                <tr>
                    <td class="row-number">{{add $.FirstNumber $index}}</td>
                    <td><input type="checkbox" id="word-{{$word.ID}}" name="{{$word.ID}}" {{if eq $word.Label
                               2}}checked{{end}}></td>
                    <td class="fixed-width"><label for="word-{{$word.ID}}">{{$word.Word}}</label></td>
                    <td>
                        <a href="#" class="archive-link" data-archive="{{$word.ID}}">Убрать из архива</a>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
        <div class="pagination">
            <!-- Влево -->
            <div class="pagination-item">
                {{if .HasPrev}}
                <a href="{{.CurrentURL}}?page={{sub .Page 1}}" class="arrow-link arrow-link-left">
                    <img src="/images/arrow_left.png" alt="Previous">
                </a>
                {{else}}
                <span class="arrow-placeholder"></span>
                {{end}}
            </div>
            <!-- Новый элемент для "В начало" -->
            <div class="pagination-item-start">
                {{if gt .Page 0}}
                <a href="{{.CurrentURL}}?page=0" class="arrow-link">В начало</a>
                </a>
                {{else}}
                <span class="arrow-placeholder2"></span>
                {{end}}
            </div>
            <!-- Вправо -->
            <div class="pagination-item">
                {{if .HasNext}}
                <a href="{{.CurrentURL}}?page={{add .Page 1}}" class="arrow-link arrow-link-right">
                    <img src="/images/arrow_right.png" alt="Next">
                </a>
                {{else}}
                <span class="arrow-placeholder"></span>
                {{end}}
            </div>
        </div>
    </div>
</div>
</body>

{{ template "footer.html" . }}
