<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/teaching.css">
    <link rel="stylesheet" href="/static/css/demonstration.css">
    <script src="/static/js/teaching.js" defer></script>
    <script src="/static/js/demonstration.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английские слова с легкостью</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английские слова с легкостью">
    <meta property="og:description"
          content="Бесплатное приложение, которое поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
</head>
<body class="teaching">
<div id="central-content">
    <div class="panel-top">
        <div>
            <button class="control" id="open-modal-button">Выбрать изучаемые слова⚙️</button>
        </div>
        <div class="words-left">Осталось слов: <span id="words-left">0</span></div>
    </div>
    <div class="panel-central">
        <div class="paper-display">
            <div class="commentary-on-training"><p>Прочтите правильно слово и переведите его. Если справились жмите
                стрелку вправо, если нет нажимайте на подсказки.</p></div>
            <div id="word-view">
                <p id="current-word"></p>
                <p id="loading">Загрузка данных...</p>
            </div>
            <div id="translation"></div>
        </div>
        <div class="flipping">
            <img id="back-icon" src="/static/images/left_not_active.png" alt="Back" class="not-active">
            <img id="restart-icon" src="/static/images/restart.png" alt="Restart" class="button">
            <img id="forward-icon" src="/static/images/right_not_active.png" alt="Forward" class="not-active">
        </div>
        <div class="dinamik-and-translate" style="text-align: center;">
            <div style="display: inline-block;">
                <img id="sound-icon" src="/static/images/dinamik.png" alt="Play Sound">
            </div>
            <div style="display: inline-block;">
                <img id="translate-icon" src="/static/images/translate.png" alt="Посмотреть перевод" class="button">
            </div>
        </div>
    </div>
</div>
<button id="close-modal">&times;</button>
<div id="modal-overlay"></div>
<div id="registration-modal">
    <h2>Чтобы избрать слова из базы, необходимо создать учетную запись</h2>
    <form method="POST" action="/" onsubmit="validateAndSubmitForm(event)">
        <div>
            <label for="login">Придумайте уникальный логин</label>
            <input type="text" id="login" name="username" required>
        </div>
        <div>
            <label for="password">Придумайте свой пароль</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Повторите пароль</label>
            <input type="password" id="confirmPassword" name="confirm-password" required>
        </div>
        <div id="captcha-container">
            <div class="captcha-image">
                <img id="captcha-image" alt="Captcha"/>
            </div>
            <button type="button" onclick="reloadCaptcha()">Обновить картинку</button>
        </div>
        <label for="password">Введите число с картинки</label>
        <input type="text" id="captchaValue" name="captchaValue" required>
        <input type="hidden" id="captchaID" name="captchaID">
        <div class="modal-text-error" id="error-message"></div>
        <div class="button-enter">
            <button type="submit">Создать и войти</button>
        </div>
    </form>
    <!--
        <p>ПРИЛОЖЕНИЕ БЕСПЛАТНОЕ</p>
    -->
</div>
</body>
</html>