<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/developer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О разработчике</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английские слова с легкостью">
    <meta property="og:description"
          content="Бесплатное платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru/developer">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(99552752, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99552752" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>

<div class="article">
    <h1>Web-разработчик</h1>
    <img src="/static/images/urazaev-amir.jpg" alt="Уразаев Амир" class="image">
    <div>
        <p>Здравствуйте, меня зовут Амир. Я занимаюсь разработкой веб-приложений на Go.</p>
    </div>
    <div>
        <p>Готов разработать для вас IT-проект любой сложности.</p>
        <p>Также открыт к долгосрочному сотрудничеству.</p>
    </div>
    <div>
        <p><b>Мои hard-скиллы:</b></p>
        <p>- Понимание работы сервисов на GO</p>
        <p>- Взаимодействие с базами данных (Postgres, sqlLite)</p>
        <p>- Linux</p>
        <p>- Git, GitHub</p>
        <p>- Docker</p>
        <p>- SQL</p>
        <p>- PostgreSQL</p>
    </div>
    <div>
        <p><b>Мой pet-проект:</b></p>

        <a href="https://wordwire.ru" target="_blank">Платформа обучения английского WordWire</a>
        <p></p>
    </div>
    <div>
        <p><b>Как со мной связаться:</b></p>
        <a href="https://t.me/urazaev90" target="_blank">Пишите мне в Телеграм: @urazaev90</a>
    </div>
    <div class="container"></div>
</div>
</body>
</html>