<footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Открытие модального окна
            document.getElementById('logout-link').addEventListener('click', function () {
                // Получаем логин пользователя и вставляем его в модальное окно

                playClickSound();

                fetch('/api/get_user_login')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('user-login').innerText = data.login;
                        document.getElementById('logout-modal').style.display = 'block';
                    });
            });

            // Закрытие модального окна при нажатии на крестик
            document.querySelector('.close').addEventListener('click', function () {
                document.getElementById('logout-modal').style.display = 'none';
                playClickSound();
            });

            // Закрытие модального окна при нажатии на "Отмена"
            document.getElementById('cancel-logout').addEventListener('click', function () {
                playClickSound();
                document.getElementById('logout-modal').style.display = 'none';
            });

            // Подтверждение выхода
            document.getElementById('confirm-logout').addEventListener('click', function () {
                playClickSound();
                fetch('/logout', {method: 'POST'})  // Обращаемся к вашему обработчику выхода
                    .then(() => {
                        window.location.href = '/';  // Перенаправляем пользователя на главную страницу после выхода
                    });
            });

            // Закрытие модального окна при клике вне его
            window.onclick = function (event) {
                if (event.target == document.getElementById('logout-modal')) {
                    playClickSound();
                    document.getElementById('logout-modal').style.display = 'none';
                }
            };
        });
    </script>

    <div class="contentfooter">
        <div class="wordwire-footer">
            <p><a href="javascript:void(0)" id="logout-link">Выйти из аккаунта</a></p>
            <p>Created by Urazaev Amir. Powered by Golang, PostgreSQL.<br>WordWire © 2024</p>
        </div>
    </div>

    <div id="logout-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Если вы действительно хотите выйти из аккаунта на этом устройстве, запомните ваш логин "<span
                    id="user-login"></span>" (а свой пароль вы должны знать). Подтвердите выход нажатием на кнопку "Хочу
                выйти".</p>
            <div class="modal-footer">
                <button id="confirm-logout" class="btn btn-confirm">Хочу выйти</button>
                <button id="cancel-logout" class="btn btn-cancel">Отмена</button>
            </div>
        </div>
    </div>
</footer>
