<footer>
    <div class="contentfooter">
        <div class="wordwire-footer">
            <p><a href="javascript:void(0)" id="logout-link">Выйти из аккаунта</a></p>
            <p>Created by Urazaev Amir. Powered by Golang, PostgreSQL.<br>WordWire © 2024</p>
        </div>
    </div>
    <div id="logout-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Если вы действительно хотите выйти из аккаунта на этом устройстве, запомните ваш логин "<span
                    id="user-login"></span>" (а свой пароль вы должны знать). Подтвердите выход нажатием на кнопку "Хочу
                выйти".</p>
            <div class="modal-footer">
                <button id="confirm-logout" class="btn btn-confirm">Хочу выйти</button>
                <button id="cancel-logout" class="btn btn-cancel">Отмена</button>
            </div>
        </div>
    </div>
</footer>