<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/setting.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire - учим английский легко</title>

    <script>
        // Создаем глобальный объект для звука клика
        const clickSound = new Audio('/static/sounds/_click_sound.mp3');

        // Функция для воспроизведения звука с предотвращением многократного запуска
        function playClickSound() {
            clickSound.pause(); // Останавливаем звук, если он уже воспроизводится
            clickSound.currentTime = 0; // Сбрасываем звук в начало
            clickSound.play().catch(error => console.error("Ошибка воспроизведения звука:", error));
        }

        window.addEventListener("load", () => {
            playClickSound(); // Воспроизведение звука при загрузке страницы
        });
    </script>

</head>
<header>
    <div class="contentheader">
        <div class="top-buttons">
            <button class="large-button" onclick="location.href='/teaching'">Перейти к обучению🧑‍🎓</button>
        </div>
        <div class="settings-container">
            <p>
                <a href="/setting" class="{{if eq .CurrentURL "/setting"}}active-link{{else}}inactive-link{{end}}">Весь
                словарь</a>
                <br/>
                <a href="/archive" class="{{if eq .CurrentURL "/archive"}}active-link{{else}}inactive-link{{end}}">Ваш
                словарный запас (архив) ({{.ArchivedCount}})</a>
                <br/>
                <a href="/selected" class="{{if eq .CurrentURL "/selected"}}active-link{{else}}inactive-link{{end}}">Избранные
                слова для обучения ({{.SelectedCount}})</a>
            </p>
        </div>
    </div>
</header>