<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/cabinet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английский с легкостью</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английский с легкостью">
    <meta property="og:description"
          content="Бесплатная платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
</head>
<header>
    <div class="contentheader">
        <div class="top-buttons">
            <button class="large-button" onclick="location.href='/teaching'">Перейти к обучению🧑‍🎓</button>
        </div>
        <div class="dictionary-container">
            <p>
                <a href="/dictionary" class="{{if eq .CurrentURL "/dictionary"}}active-link{{else}}inactive-link{{end}}">Весь
                словарь</a>
                <br/>
                <a href="/archive" class="{{if eq .CurrentURL "/archive"}}active-link{{else}}inactive-link{{end}}">Ваш
                словарный запас: {{.ArchivedCount}}</a>
                <br/>
                <a href="/selected" class="{{if eq .CurrentURL "/selected"}}active-link{{else}}inactive-link{{end}}">Избранные
                слова для обучения: {{.SelectedCount}}</a>
            </p>
        </div>
    </div>
</header>