<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style-main-page.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/form-container.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английский с легкостью</title>
    <meta name="description"
          content="Бесплатная платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta name="keywords"
          content="обучение английского, обучение английского языка, методика запоминания английских слов, изучение английских слов, запоминание английских слов, бесплатное приложение обучения английского">
    <meta name="author" content="WordWire">
    <meta name="robots" content="index, nofollow">
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английский с легкостью">
    <meta property="og:description"
          content="Бесплатная платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(99552752, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99552752" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>

<div class="section-sticky-header">
    <div class="sticky-header">
        <div class="leveling">
            <button onclick="window.open('/demonstration', '_blank');">Демонстрация приложения</button>
        </div>
        <div class="leveling">
            <button onclick="location.href='/login';">Войти в свой аккаунт</button>
        </div>
        <div class="leveling">
            <button onclick="document.getElementById('registration-section').scrollIntoView({ behavior: 'smooth' });">
                Зарегистрироваться
            </button>
        </div>
    </div>
</div>

<div class="section-main">
    <div class="content-text">
        <div class="text">
            <h1>Изучайте бесплатно английский в платформе WordWire</h1>
            <h2>И в ближайшее время сможете читать тексты, смотреть фильмы и поддерживать беседу с носителями языка
            </h2>
        </div>
    </div>
    <div class="content-image">
        <img src="/static/images/application.png" alt="Приложение" class="image">
    </div>
    <div class="block-demoentryregistration">
        <div class="demoentryregistration">
            <a href="/demonstration" target="_blank">
                <button>Демонстрация приложения</button>
            </a>
            <a href="/login">
                <button>Войти в свой аккаунт</button>
            </a>
            <a href="#registration-section">
                <button>Зарегистрироваться</button>
            </a>
        </div>
    </div>
</div>

<div class="section section-about-research">
    <h2>Идея платформы – расширение словарного запаса</h2>
    <div class="article">
        <div class="paragraph">
            <img src="/static/images/thousand-words.png" alt="Словарный запас 1000 слов" class="image">
            <div class="text">Освоение 1000 наиболее часто используемых английских слов обеспечивает понимание 80%
                разговорной речи
                и позволяет вести элементарные беседы.
            </div>
        </div>
        <div class="paragraph">
            <img src="/static/images/hree-thousand-words.png" alt="Словарный запас 3000 слов" class="image">
            <div class="text">Знание 3000 слов позволяет понимать 95% устной речи и различных текстов.</div>
        </div>
        <div class="paragraph">
            <img src="/static/images/five-thousand-words.png" alt="Словарный запас 5000 слов" class="image">
            <div class="text">Владеющий 5000 словами способен к жизни и работе за границей, понимая 98% услышанного и
                прочитанного.
            </div>
        </div>
        <div class="paragraph">
            <img src="/static/images/ten-thousand-words.png" alt="Словарный запас 10000 слов" class="image">
            <div class="text">Лексический запас в 10 000 слов даёт возможность понимать 99% устной речи.</div>
        </div>
    </div>
</div>

<div class="section section-peculiarities">
    <h2>С WordWire вы сможете</h2>
    <div class="article">
        <p class="list-item"><img src="/static/images/check_mark.png" alt="Check mark">
            Наблюдать за уровнем своего словарного запаса</p>
        <p class="list-item"><img src="/static/images/check_mark.png" alt="Check mark">
            Сразу убрать знакомые слова из обучения</p>
        <p class="list-item"><img src="/static/images/check_mark.png" alt="Check mark">
            Прослушивать правильное произношение</p>
        <p class="list-item"><img src="/static/images/check_mark.png" alt="Check mark">
            С первых практик почувствовать владение языком</p>
    </div>
</div>

<div class="section section-about-process">
    <h2>Пользуйтесь платформой с любого устройства</h2>
    <img src="/static/images/lear-english.png" alt="Словарный запас 1000 слов" class="image">
    <div class="article">
        <p>Заходите в свой аккаунт как с телефона, так и с компьютера.</p>
        <p>Учите английский в удовольствие в офисе, метро, дома и в любом другом месте!</p>
    </div>
</div>

<div id="registration-section"></div>

<div class="section section-registration">
    <script src="/static/js/registration-from-home.js" defer></script>
    <h2>Регистрация</h2>
    <div class="text">
        Заполните простую регистрацию и начните учить английский прямо сейчас БЕСПЛАТНО!
    </div>
    <form method="POST" class="form-container" action="/" onsubmit="validateAndSubmitForm(event)">
        <div class="namefield"><label for="login">Придумайте уникальный логин</label></div>
        <div class="inputfield"><input type="text" id="login" name="username" required></div>
        <div class="namefield"><label for="password">Придумайте свой пароль</label></div>
        <div class="inputfield"><input type="password" id="password" name="password" required></div>
        <div class="namefield"><label for="confirmPassword">Повторите пароль</label></div>
        <div class="inputfield"><input type="password" id="confirmPassword" name="confirmPassword" required></div>
        <div id="captcha-container">
            <img id="captcha-image" alt="Captcha"/>
            <button type="button" class="formbutton" onclick="reloadCaptcha()">Обновить картинку</button>
        </div>
        <div class="namefield"><label for="password">Введите число с картинки</label></div>
        <div class="inputfield"><input type="text" id="captchaValue" name="captchaValue" required></div>
        <div class="modal-text-error" id="error-message"></div>
        <div class="block-button-login">
            <div class="leveling">
                <button type="submit">Зарегистрироваться</button>
            </div>
            <div class="leveling">
                <button type="button" onclick="location.href='/login';">Я уже зарегистрирован</button>
            </div>
        </div>
        <input type="hidden" id="captchaID" name="captchaID">
    </form>
</div>

<div class="footer">Created by <a href="/developer" target="_blank"><u>Urazaev Amir</u></a>.
    <div class="mobile"></div>
    <div class="wrapping">Powered by Golang, PostgreSQL.</div>
    <div class="copyright">WordWire © 2025</div>
</div>

</body>
</html>