<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire - учим английский легко</title>
    <style>
        button {
            cursor: pointer;
        }

        .button-container {
            display: flex;
            gap: 10px; /* Промежуток между кнопками */
        }
    </style>
</head>
<body>
<h1>WordWire</h1>
<div>
    WordWire - это бесплатный сервис, который упрощает изучение английского языка.</br></br>

    Исследования показывают, что владея определенным словарным запасов слов, а именно:</br></br>

    <b>1 000 слов.</b> Освоение 1000 наиболее часто используемых английских слов обеспечивает понимание 80% разговорной речи и позволяет вести элементарные беседы. Этого уровня достаточно для знакомства с новыми людьми, путешествий, простых переписок в интернете и совершения покупок.</br></br>

    <b>3 000 слов.</b> Знание 3000 слов позволяет понимать 95% устной речи и различных текстов. Это помогает решать бытовые задачи, смотреть фильмы и телепередачи, а также совершать длительные поездки и командировки.</br></br>

    <b>5 000 слов.</b> Владеющий 5000 словами способен к жизни и работе за границей, понимая 98% услышанного и прочитанного. Такой уровень позволяет читать художественную литературу и газеты, вести личную и деловую переписку, учиться и получать услуги. Однако могут возникнуть сложности с обсуждением узкоспециализированных профессиональных тем.</br></br>

    <b>10 000 слов.</b> Лексический запас в 10 000 слов даёт возможность понимать 99% устной речи, анализируя оставшийся 1% по контексту. Этот уровень знаний сравним с образованным молодым носителем английского языка.</br></br>

    <b>При помощи этого сервиса вы сможете:</b></br></br>
    - наблюдать за уровнем своего словарного запаса</br>
    - самостоятельно выбрать слова, которые хотите учить</br>
    - начнете с самых распространных слов и уже почувствуете некую ориентировку в английском</br>
    - убирать в архив те слова, которые и так знаете (чтобы не тратить на них время в пустую)</br>
    - в свой аккаунт сможете заходить с любого устройства и продолжать обучение</br>
    - смотреть не только перевод, но и транскрипцию, чтобы также изучать правильное произношение</br>
    - листать слова в рандомном порядке (чтобы мозг не привыкал к последовательности)</br></br>

    Обучение происходит по принципу просмотра лично отобранных незнакомых английских слов, и если вы не можете что-то вспомнить, вы мгновенно можете проверить произношение и перевод определенного слова не прерывая обучение.</br></br>
</div>

<h2>Регистрация</h2>
<h3>После регистрации, вы сразу попадете на страницу бесплатного обучения английского</h3>
<p>Регистрация очень простая, нужно лишь придумайть свой уникальный логин и пароль</p>
<form method="post" action="/">
    <div>
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    {{if .Error}}
    <div style="color: red;">
        {{.Error}}
    </div>
    {{end}}
    <div>
        <p></p>
    </div>
    <div class="button-container">
        <button type="submit">Зарегистрироваться</button>
        <a href="/login">
            <button type="button">У меня уже есть аккаунт</button>
        </a>
    </div>
</form>

<div>
<p><br/>WordWire. Powered by Urazaev Amir © 2024</p>
</div>
</body>
</html>