<!DOCTYPE html>
<html lang="en" class="login">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/login.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английские слова с легкостью</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английские слова с легкостью">
    <meta property="og:description"
          content="Бесплатное приложение, которое поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
</head>
<body>
<div class="wrapper">
    <div class="section-1">
        <h1>Вход в аккаунт</h1>
        <div class="entry-block">
            <form method="POST" action="/login" onsubmit="validateLoginForm(event)">
                <div>
                    <label for="username">Введите логин:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Введите пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div id="captcha-container" style="display: none;">
                    <div class="captcha-and-button">
                        <img id="captcha-image" alt="Captcha"/>
                        <button id="reload-captcha-button" type="button" onclick="reloadCaptcha()">Обновить картинку
                        </button>
                        <br>
                    </div>
                    <label for="captchaValue">Введите число с картинки:</label>
                    <input type="text" id="captchaValue" name="captchaValue"><br>
                    <input type="hidden" id="captchaID" name="captchaID">
                </div>
                <input type="hidden" id="showCaptcha" value="{{if .ShowCaptcha}}true{{else}}false{{end}}">
                <div id="error-message" class="modal-text-error"></div>
                <div class="block-button-login">
                    <div class="button-login-page">
                        <button class="common-button" type="submit">Войти</button>
                        <a href="/#registration-section">
                            <button class="common-button" type="button">Зарегистрироваться</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>Created by <a href="/developer" target="_blank">Urazaev Amir</a>. Powered by Golang, PostgreSQL.<br>WordWire © 2025</p>
    </div>
</div>
</body>
</html>