<!DOCTYPE html>
<html lang="en" class="login">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/form-container.css">
    <script src="/static/js/login.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английский с легкостью</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английский с легкостью">
    <meta property="og:description"
          content="Бесплатная платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
</head>
<body>
<div class="page-login">
    <div class="wrapper">
        <div class="section">
            <h1>Вход в аккаунт</h1>
            <form method="POST" class="form-container" action="/login" onsubmit="validateLoginForm(event)">
                <div class="namefield"><label for="username">Введите логин:</label></div>
                <div class="inputfield"><input type="text" id="username" name="username" required></div>
                <div class="namefield"><label for="password">Введите пароль:</label></div>
                <div class="inputfield"><input type="password" id="password" name="password" required></div>
                <div id="captcha-container" style="display: none;">
                    <img id="captcha-image" alt="Captcha"/>
                    <button id="reload-captcha-button" class="formbutton" type="button" onclick="reloadCaptcha()">
                        Обновить
                        картинку
                    </button>
                    <div class="namefield"><label for="captchaValue">Введите число с картинки:</label></div>
                    <div class="inputfield"><input type="text" id="captchaValue" name="captchaValue"></div>
                    <input type="hidden" id="captchaID" name="captchaID">
                </div>
                <input type="hidden" id="showCaptcha" value="{{if .ShowCaptcha}}true{{else}}false{{end}}">
                <div id="error-message" class="modal-text-error"></div>
                <div class="block-button-login">
                    <div class="leveling">
                        <button type="submit">Войти</button>
                    </div>
                    <div class="leveling">
                        <button type="button" onclick="location.href='/#registration-section';">Зарегистрироваться
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer">Created by <a href="/developer" target="_blank"><u>Urazaev Amir</u></a>. Powered by Golang, PostgreSQL.
            <br>WordWire © 2025
        </div>
    </div>
</div>
</body>
</html>