<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="post" action="/register">
    <div>
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    {{if .Error}}
    <div style="color: red;">
        {{.Error}}
    </div>
    {{end}}
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>