<!-- templates/setting.html -->
{{ template "header.html" . }}

<style>
    table {
        margin: 0 auto;
    }

    table td label {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Добавьте этот новый стиль для чекбоксов */
    input[type="checkbox"]:hover {
        cursor: pointer;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Функция для обновления номеров строк
        function updateRowNumbers() {
            const rows = document.querySelectorAll('table tr');
            rows.forEach((row, index) => {
                const cell = row.querySelector('.row-number');
                if (cell) {
                    cell.textContent = index + 1;
                }
            });
        }

        // Добавить обработчики событий для чекбоксов
        document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
            checkbox.addEventListener('change', function (event) {
                const wordId = event.target.name;
                const label = event.target.checked ? 2 : 1;

                fetch(`/setting`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: `id=${wordId}&label=${label}`
                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Не удалось обновить метку слова:', response.statusText);
                        }
                        location.reload(); // Обновить страницу, чтобы обновить количество
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });

        // Добавить обработчики событий для ссылок на архив
        document.querySelectorAll('[data-archive]').forEach((link) => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const wordId = this.getAttribute('data-archive');

                fetch(`/archive`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: `archive_word_id=${wordId}`
                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Не удалось архивировать слово:', response.statusText);
                        }
                        location.reload(); // Обновить страницу, чтобы обновить слова
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });

        // Инициализировать номера строк
        updateRowNumbers();
    });
</script>

<div class="settings-container">
    <table>
        {{range .Words}}
        <tr>
            <td class="row-number"></td>
            <td><input type="checkbox" id="word-{{.ID}}" name="{{.ID}}" {{if eq .Label 2}}checked{{end}}></td>
            <td><label for="word-{{.ID}}">{{.Word}}</label></td>
            <td>
                <a href="#" class="archive-link" data-archive="{{.ID}}">Убрать в архив</a>
            </td>
        </tr>
        {{end}}
    </table>
</div>

{{ template "footer.html" . }}