<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/teaching.css">
    <script src="/static/js/sound-click.js"></script>
    <script src="/static/js/loading-page-with-sound.js"></script>
    <script src="/static/js/panel-teaching.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWire – учите английский с легкостью</title>
    <link rel="icon" href="https://wordwire.ru/static/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="WordWire – учите английский с легкостью">
    <meta property="og:description"
          content="Бесплатная платформа, которая поможет вам выучить новые английские слова. Благодаря этому вы быстро научитесь читать, смотреть фильмы и общаться с носителями. Дальнейшее развитие станет легким и приятным занятием.">
    <meta property="og:image" content="https://wordwire.ru/static/images/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wordwire.ru">
</head>
<body>
<div id="central-content">
    <div class="panel-top">
        <div>
            <button class="control" onclick="location.href='/dictionary'">Изменить изучаемые слова⚙️</button>
        </div>
        <div class="words-left">Осталось слов: <span id="words-left">0</span></div>
    </div>
    <div class="panel-central">
        <div class="paper-display">
            <div class="commentary-on-training"><p>Мысленно или вслух прочтите слово и переведите. Если справились жмите
                стрелку вправо, если нет нажимайте на подсказки.</p></div>
            <div id="word-view">
                <p id="current-word"></p>
                <p id="loading">Загрузка данных...</p>
            </div>
            <div id="translation"></div>
        </div>
        <div class="flipping">

            <div>
            <img id="back-icon" src="/static/images/left_not_active.png" alt="Back" class="not-active">
            <img id="restart-icon" src="/static/images/restart.png" alt="Restart" class="button">
            <img id="forward-icon" src="/static/images/right_not_active.png" alt="Forward" class="not-active">
            </div>

            <div>
                <img id="sound-icon" src="/static/images/dinamik.png" alt="Play Sound" class="button">
                <img id="translate-icon" src="/static/images/translate.png" alt="Посмотреть перевод" class="button">
            </div>

        </div>
    </div>
</div>
</body>
</html>